<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#"><i class="icon-cloud"></i> EmberDemo</a>
        </div>
    </div>

    <div class="row">
        <div class="span2">
            {{outlet sidebar}}

        </div>
        <div class="span10">
            {{outlet breadcrumb}}
            {{outlet}}
        </div>
    </div>
</div>